@import '../sass/abstracts/mixins';

.bg-img {
    @include bg-img
}
.title-create-bp {
    font-size: 3rem;
    padding-top: 15px;
    text-transform: uppercase;
}

.block {
    @include block;
}

.create-bp-title {
    width: 80%;
}

.create-bp-text{
    width: 80%;
    margin-top: 15px;
    font-size: 2rem;
    height: 20vh;
}

.btn {
    @include btn;
}