@import '../sass/abstracts/mixins';

@font-face {
    font-family: "fortnite";
    src: url("../../public/assets/fonts/fortnite.otf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "fortnite";
}

.bg-img {
    @include bg-img
}

.block {
    @include block;
}

.title {
    font-size: 4rem;
    padding-top: 50px;
    text-transform: uppercase;
}

.second-title {
    font-size: 3rem;
    padding-top: 50px;

}

.paragraph {
    padding-top: 50px;
    font-size: 2rem;
    padding-bottom: 40px;
}

.btn-home {
    background-color: #F7FF19;
    padding: 10px;
    width: 50%;
    font-size: 3rem;
    margin-bottom: 10px;
}

// @media screen and (max-width: 768px){
//     .text-home {
//         overflow: scroll;
//     }
// }